# Node.js
node_modules/

# Logs
logs/
*.log

# Build files
build/
dist/

# Dependency directories
bower_components/
jspm_packages/

# Output files
*.min.js
*.min.css

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace